doctype html
html
    head
        meta(charset="utf-8")
        title 積立投資-一括投資比較
        
    body
        simulation
        notes
        //- testload
        script(src="../script/entry/page/simulation.js")
    
