doctype html
html
    head
        meta(charset="utf-8")
        title 単体積立チャート

        link(rel="stylesheet" href="./style/entry/index.css")
    body
        // riot tag
        //- mvc(default="yes")
        top
        script(src="./script/entry/index.js")
